* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-bg-color: #FAF7FD;
    --purple: #BB99DD;
}
html{
    font-size: 62.5%;   
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center; 
    
}
div {
    max-width: 30rem;
    width: 100% ;
    
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 7rem auto 0.2rem auto;
    max-width: 90%;
    padding: 0.5rem 0.5rem 0;
    
    
}
#foto-perfil {
    box-shadow: 0rem 0rem 0.4rem 0.3rem rgba(255, 255, 255, 0.356);
    border-radius: 50%;
    border: 0.1rem solid rgb(87, 87, 87);
    height: 15rem;
    width: 15rem;   
    background: url("../assets/fotovictor.jpg") no-repeat;
    background-size: 220%;
    background-position: -7.5rem -14rem;
}

span {
    font-size: 1rem;
    margin: 2rem 0 1rem 0.5rem;
    padding: 0.2rem;
    color: white;
    font-weight: 300;
    text-align: center;
   
}

main {
    display: flex;
    flex-direction: column;
    margin: 0.2rem auto 0;  
    max-width: 90%;
    
}

main a { 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.0rem;
    text-decoration: none;
    color: var(--purple);
    border: 0.1rem solid var(--purple);
    padding: 1.3rem 7rem;
    margin: 0.4rem;
    border-radius: 0.4rem;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 600;
}

main a:hover{
    background-color: rgba(109, 109, 109, 0.26);
    box-shadow: 0rem 0rem 0.5rem var(--purple);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 4rem auto 2rem auto;
    max-width: 90%;

}


footer a {
    display: flex;
    align-items: center;
}

footer a:hover {
    box-shadow: 0rem 0rem 0.4rem 0.1rem var(--purple);
    border-radius: 50%;
   
}

footer a img {
    height: 1.8rem;    
}

@media (max-width: 768px){
    div {
        max-width: 40rem;
    }

}

@media (min-width: 2560px){
    html {
        font-size: 150%;

    }
}

